.projects-container{
    height: auto;
    width: 100%;
    background-color: #263640;
    font-family: 'Montserrat',sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.projects-container h1{
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    color:white;
}

.projects-inner{
    display: flex;
    justify-content: space-around;
}

/* From Uiverse.io by eslam-hany */ 
.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    padding: 10px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    margin-bottom: 40px;
  }
  
  .cover {
    top: 0; 
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-85deg);
    -ms-transform: rotatey(-85deg);
    transform: rotatey(-85deg);
  }


  .socials {
    position:relative;
    margin:0;
    padding:0;
    display:flex;

    justify-content: center;
    gap:40px;
    flex-wrap: wrap;
  }
  
  .socials li {
    list-style: none;
    
  }
  
  .socials li a {
    position: relative;
    width:60px;
    height:60px;
    display: grid;
    place-content: center;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  .socials li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  .socials li a .fab, .socials li a .fa {
    width: 100%;
    height:100%;
    display:block;
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:26px;
    color: #262626;
    transition: .5s;
  }
  


  @media screen and (max-width:992px) and (min-width:678px) {
    .projects-inner{
      flex-wrap:wrap;
      margin-bottom:40px;
    }
  }

  @media(max-width:677px){
    .projects-inner{
      flex-wrap:wrap;
      margin-bottom:20px;
    }

    .projects-container h1{
      font-size: 26px;
    }

    .socials{
      gap:30px;
    }

    .book{
      width:180px;
      height: 250px;
      font-size: 12px;
    }

  }

