.service-container{
    height: 90.5svh;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.enquire-btn{
  width: 100px;
  height: 30px;
  background-color: #263640;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color:white;
  cursor: pointer;
}

.service-inner{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flip-card {
    background-color: transparent;
    width: 290px;
    height: 454px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    width: 100%;
  height: 100%;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
  color:white;
  }
  
  .flip-card-back {
    background: #DE6E4B;
    color: white;
    transform: rotateY(180deg);
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Background blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out;
    display: flex;
    justify-content: center;
  }
  
  /* Close Button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    transition: color 0.2s;
  }
  
  .close-btn:hover {
    color: #000;
  }
  
  /* Fade In Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }


  @media screen and (max-width:992px) and (min-width:546px) {

    .service-container{
      height: auto;
    }

    .service-inner{
      flex-wrap: wrap;
    }

      .flip-card{
        width: 240px;
        height: 350px;
        margin-bottom: 40px;
      }
  }

  @media(max-width:546px){
    .service-container{
      height: auto;
    }

    .service-container h1{
      font-size: 26px;
    }

    .service-inner{
      flex-wrap: wrap;
    }

      .flip-card{
        width: 220px;
        height: 300px;
        margin-bottom: 40px;
      }

      .title{
        font-size: 1rem;
      }

      .modal-content{
        width: 90%;
      }

  }